<span id="detailviewpage">
<table width="680" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td align="left" valign="top" class="tab"><%= render :partial=>'/yachts/previewmoreinfotab' %></td>
	</tr>
	<tr>
	  <td align="left" valign="top" class="yacht-details-cont-bg"><%= render :partial=>'/yachts/previewdetailspage' %></td>
	</tr>
</table>
</span>