<table width="980" border="0" cellspacing="0" cellpadding="0">
   <tr>
     <td height="819" align="left" valign="top" class="yacht-details-bg" style="border-width:1px;"><table width="964" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="left" valign="top" class="details-blk-bg"><%= render :partial=>'/yachts/previewmaininfo' %></td>
       </tr>
       <tr>
         <td align="left" valign="top"><img src="/images/spacer.gif" width="1" height="30" /></td>
       </tr>
       <tr>
         <td align="left" valign="top"><%= render :partial=> '/yachts/previewmoreinfo' %></td>
       </tr>
       <tr>
         <td align="left" valign="top">&nbsp;</td>
       </tr>
     </table></td>
   </tr>
</table>